body {
    background: linear-gradient(#ff934d, #fc686f) fixed;
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
}
h1 {
    font-size: calc(24px + 16 * (100vw / 1280));
}

/*HEADER*/
.container {
    max-width: 1200rem;
    margin: 0 auto;
    padding: 0 0.938rem;
}
.header__row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.header__logo {
}
.header__logo img {
    width: 5.313rem;
    height: 5.5rem;
}
.header__menu {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.header__menu div {
    display: flex;
    color: #11334b;
    font-family: "MV Boli";
    font-size: 3.813rem;
    font-weight: 400;
    text-align: center;
    align-items: center;
}

/*1 PAGE*/
.main__row {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.main__banner img {
    max-width: 100%;
}
.main__title {
    color: #11334b;
    font-family: "Arial Rounded MT Bold";
    font-size: 120rem;
    font-weight: 25rem;
    text-align: left;
}