body {
    background: linear-gradient(#ff934d, #fc686f) fixed;
}
.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}

h1 {
    font-size: calc(24px + 16 * (100vw / 1280));
}

@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }
}
@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
}
@media (max-width:767px) {
    .container {
        max-width: none;
    }
    h1 {
        font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
    }
}